<!--Name: Deshaun Jordan
Student Id: 300921366
Course: COMP_229 web dev sec 401
Instructor: Thiago Castilho 
Assignment: A2
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
</head>
<body>
    <header>
        <% include partials/main_nav.ejs %>
    </header>

<!--Main content-->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title%>!</h1>
  
</div>
</main>
<footer>
    <% include partials/bottom_nav.ejs %>
</footer>

<script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Script/app.js"></script> 

</body>
</html>