<!--Name: Deshaun Jordan
Student Id: 300921366
Course: COMP_229 web dev sec 401
Instructor: Thiago Castilho 
Assignment: A2
--> 

<!--Bottom Nav-->
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <h6 class="display-8 navbar-text">&copy; Copyright 2023.Deshaun Jordan All rights reserved</h6>
  </nav>
</footer>